# Arc mainnet
ARC_RPC_URL=https://rpc.mainnet.arc.io
ARC_CHAIN_ID=5042
# Arc testnet
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.io
ARC_TESTNET_CHAIN_ID=5042002
# Project-owned keys (never commit real values)
DEPLOYER_ADMIN_PRIVATE_KEY=
MERCHANT_PAYTO_PRIVATE_KEY=
DEMO_RUNNER_PRIVATE_KEY=
